.description_block{
    padding: 10px;
    display: flex;
}

.profilePhoto{
    height: 300px;
    width: 400px;
}

.profilePhoto img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.description_block .profilePhoto:hover .updatePhoto {
   opacity: 1;
}

.updatePhoto{
    opacity: 0;
    position: absolute;
    top: 350px;
    left: 500px;
}

.image_block img{
    width: 100%;
    border-radius: 10px;
}

